<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/style.css">
    <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/amiga-forever" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/proggy-square" rel="stylesheet">



    <script src="https://kit.fontawesome.com/2b2506e7ac.js" crossorigin="anonymous"></script>
    <title>PokéDex</title>

</head>
<body>
<!-- Navbar (sit on top) -->
<div class="">
    <div class="w3-bar w3-opacity-min w3-light-grey w3-padding-8" id="myNavbar">

        <a href="/" class="pokedex w3-bar-item w3-button w3-left w3-xlarge w3-hover-white w3-middle w3-margin  "> PokéDex <img src="/public/pokedex-48.png" class="avatar "> </a>

        <!-- Right-sided navbar links -->
        <a href="/login" class="w3-bar-item w3-button w3-right w3-hide-small w3-large w3-margin w3-hover-none  "><img src="/public/pokeball-abierto.png"> Iniciar Sesion</a>


        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>

</nav>
<script>
    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }
    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
    }
    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
    }
</script>