body {
    background-image: url("pikachu.jpg");
    font-family: 'ProggySquareTT', sans-serif;
    font-size: large;
}

.formulario {
    width: 33%;

}

div textarea {
    box-sizing: border-box;
    max-width: 100%;
}



.pokedex {
    font-family: 'Pokemon Solid', sans-serif;

}


.detallePokemon{
    border: 10px solid palegoldenrod;
}

.descripcionDetalle{
    /*font-family: Arial;*/
    font-size: small;
    text-align: justify;
}

h2, h3 , h5 {
    font-family: 'Amiga Forever', sans-serif;
}

.avatar {
    size: auto;

}

.listatitle {
    background: rgb(240, 238, 122);
    background: linear-gradient(0deg, rgba(240, 238, 122, 0.9164040616246498) 9%, rgba(255, 255, 255, 1) 61%);
}
.fisionomia{
    background: rgb(240, 238, 122);
    background: linear-gradient(0deg, rgba(240, 238, 122, 0.9164040616246498) 9%, rgba(255, 255, 255, 1) 61%);

}

.mensaje {
    padding-bottom: 0.5em;
}

td{
    vertical-align: middle !important;
}

.footer {
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;

        }
hr {
    border-top: 2px solid palegoldenrod;
}
