{{> header}}
<div id="registrarme" class="w3-container w3-content w3-white w3-margin-top w3-margin-bottom">
    <div class="w3-container w3-pale-yellow ">
        <h3>Ingresa los Datos del Pokemon <img src="/public/ingresarPokemon.png"></h3>
    </div>
    <div class="w3-container w3-content">
        <!-- TODO Validar que las contraseñas sean iguales y que sea un mail valido con JS-->
        <form class="w3-container" method="post" name="registro" enctype="multipart/form-data"
              action="">
            <label for="numero">Numero</label>
            <input class="w3-input" type="number" name="numero" id="numero" required {{#pokemon}}disabled {{/pokemon}}
            value="{{#pokemon}}{{numero}}{{/pokemon}}">
            <label for="nombre">Nombre</label>
            <input class="w3-input" type="text" name="nombre" id="nombre" required
                   value="{{#pokemon}}{{nombre}}{{/pokemon}}">
            <label for="tipo1"> Seleccione tipo 1 </label>
            <select class="w3-select" name="tipo1" id="tipo1" required>
                {{#pokemon}}
                <option value="{{tipo1}}" selected hidden></option>
                {{/pokemon}}
                <option value="tipo_acero.gif">acero</option>
                <option value="tipo_agua.gif">agua</option>
                <option value="tipo_bicho.gif">bicho</option>
                <option value="tipo_dragon.gif">drágon</option>
                <option value="tipo_electrico.gif">eléctrico</option>
                <option value="tipo_fantasma.gif">fantasma</option>
                <option value="tipo_fuego.gif">fuego</option>
                <option value="tipo_hada.gif">hada</option>
                <option value="tipo_hielo.gif">hielo</option>
                <option value="tipo_lucha.gif">lucha</option>
                <option value="tipo_normal.gif">normal</option>
                <option value="tipo_planta.gif">planta</option>
                <option value="tipo_psiquico.gif">psíquico</option>
                <option value="tipo_roca.gif">roca</option>
                <option value="tipo_siniestro.gif">siniestro</option>
                <option value="tipo_tierra.gif">tierra</option>
                <option value="tipo_veneno.gif">veneno</option>
                <option value="tipo_volador.gif">volador</option>
            </select>
            <label for="tipo2">Seleccione tipo 2 (no requerido)</label>
            <select class="w3-select" name="tipo2" id="tipo2" >
                {{#pokemon}}
                <option value="{{tipo2}}" selected hidden></option>
                {{/pokemon}}
                <option ></option>
                <option value="tipo_acero.gif">acero</option>
                <option value="tipo_agua.gif">agua</option>
                <option value="tipo_bicho.gif">bicho</option>
                <option value="tipo_dragon.gif">drágon</option>
                <option value="tipo_electrico.gif">eléctrico</option>
                <option value="tipo_fantasma.gif">fantasma</option>
                <option value="tipo_fuego.gif">fuego</option>
                <option value="tipo_hada.gif">hada</option>
                <option value="tipo_hielo.gif">hielo</option>
                <option value="tipo_lucha.gif">lucha</option>
                <option value="tipo_normal.gif">normal</option>
                <option value="tipo_planta.gif">planta</option>
                <option value="tipo_psíquico.gif">psíquico</option>
                <option value="tipo_roca.gif">roca</option>
                <option value="tipo_siniestro.gif">siniestro</option>
                <option value="tipo_tierra.gif">tierra</option>
                <option value="tipo_veneno.gif">veneno</option>
                <option value="tipo_volador.gif">volador</option>
            </select>
            <p>Descripción</p>
            <div class="w3-container">
                <textarea class="w3-round" name="descripcion" id="descripcion" maxlength="2000" cols="120" rows="10"
                          placeholder="La desrcipcion se escribe aquí...">{{#pokemon}}{{descripcion}}{{/pokemon}}</textarea>
            </div>
            <br>
            <label for="imagen">Imagen{{#pokemon}} (Actual: {{sprite}}){{/pokemon}}</label>
            <input class="w3-input w3-margin-bottom" type="file" name="imagen" id="imagen"
                   value="{{#pokemon}}{{imagen}}{{/pokemon}}">
            <label for="sprite">Sprite{{#pokemon}} (Actual: {{sprite}}){{/pokemon}}</label>
            <input class="w3-input " type="file" name="sprite" id="sprite">
            <button class="w3-button w3-pale-red w3-round-xxlarge w3-right w3-margin">
                {{^pokemon}}
                Registrar
                {{/pokemon}}
                {{#pokemon}}
                Modificar
                {{/pokemon}}
            </button>
        </form>

    </div>
</div>

{{> footer}}