{{> header}}
<div class="detallePokemon w3-container w3-content w3-opacity-min w3-white w3-margin-top w3-margin-bottom  w3-round-xxlarge" >
    {{#pokemon}}
    <h2 class="listatitle w3-left">#{{numero}} {{nombre}} <img src="/public/{{sprite}}"></h2>
    <div class="w3-row">
        <div class="w3-col s3 w3-center w3-margin-top">
            <img src="/public/{{imagen}}" style="width: 100%">
            <hr>
            <h5>Tipo</h5>
            <hr>
            <img src="/public/{{tipo1}}">
            {{#tipo2}}<img src="/public/{{tipo2}}">{{/tipo2}}
            <hr>
        </div>
        <div class="w3-col s9 w3 center">
            <h5 class="fisionomia w3-padding "><img src="/public/fisionomia.png">Descripción</h5>
            <p class="descripcionDetalle w3-padding">{{descripcion}}</p>
        </div>
    </div>

    {{/pokemon}}
</div>
{{> footer}}