{{> header}}


<div class="w3-container w3-content w3-center w3-white w3-margin-top w3-margin-bottom" style="max-width:800px">

    <h2 class="listatitle w3-left">Lista de pokémon</h2>


    <form action="/pokemon/buscar" method="get">

        <input class="w3-input w3-round-xxlarge " type="text" name="busqueda"
               placeholder="Ingrese tipo, nombre o numero ^.^">
        <button type="submit" class="w3-button w3-pale-red w3-round-xxlarge w3-right w3-margin">Buscar</button>

    </form>

    <table class=" w3-table-all w3-hoverable w3-centered w3-margin-bottom ">
        <tbody>
        <tr class="w3-black">
            <th>Sprite</th>
            <th>Numero</th>
            <th>Nombre</th>
            <th>Tipo 1</th>
            <th>Tipo 2</th>
            {{#admin}}
            <th>Acciones</th>
            {{/admin}}

        </tr>
        <!-- Si es admin -->
        {{#admin}}
        {{#pokemones}}
        <tr class="w3-margin">
            <td><img src="/public/{{sprite}}"></td>
            <td>{{numero}}</td>
            <td><a href="/pokemon/detalle?numero={{numero}}">{{nombre}}</a></td>
            <td><img src="/public/{{tipo1}}"></td>
            <td><img src="/public/{{tipo2}}"></td>
            <td>
                <a class="w3-button w3-round-xxlarge w3-right w3-margin w3-pale-red" href="/pokemon/eliminar?numero={{id}}">Eliminar</a>
                <a class="w3-button w3-round-xxlarge w3-right w3-margin w3-pale-yellow " href="/pokemon/modificar?numero={{id}}">Modificar</a>
            </td>

        </tr>
        {{/pokemones}}
        {{/admin}}

        <!-- Si no es admin -->
        {{^admin}}
        {{#pokemones}}
        <tr>
            <td><img src="/public/{{sprite}}"></td>
            <td>{{numero}}</td>
            <td><a href="/pokemon/detalle?numero={{numero}}">{{nombre}}</a></td>
            <td><img src="/public/{{tipo1}}"></td>
            <td><img src="/public/{{tipo2}}"></td>
        </tr>
        {{/pokemones}}
        {{/admin}}
        </tbody>
    </table>
</div>
{{> footer}}